.categories {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
}

section.top-feed-container .bottom-text {
  font-weight: 600;
  font-size: 12px;
}

.bottom-text a {
  color: #00000099;
  text-decoration: none;
  margin-right: 0.25rem;
}

.bottom-text a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  section.top-feed-container {
    margin: 2rem 0;
  }

  section.top-feed-container .categories {
    display: block;
  }

  .categories .single-cat {
    padding-left: 0;
  }

  .bottom-text a {
    display: block;
  }
}
