.header-option {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
  color: gray;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.header-option:hover {
  color: #333;
  text-decoration: underline;
}

.header-option span {
  font-size: 12px;
}

.header-option img.profile-img {
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
  transition: transform 0.1s ease-in-out;
  object-fit: contain;
}

.header-option img.profile-img:active {
  transform: scale(0.9);
}

.header-option:last-of-type {
  border-left: 1px solid #ebebeb;
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .header-option:last-of-type {
    border-left: none;
  }
}
